/** CSS STYLE **/

:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --dark-main: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --fsh1: 72px;
  --fsh2: 60px;
}

@font-face {
  font-family: Neucha;

  src: url("../fonts/Neucha/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Open_Sans";

  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark);
  font-weight: 400;
  font-size: 16px;
  font-family: "Open_Sans", sans-serif;
  line-height: 1.6em;
}

.wrapper {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

h1,
h3,
.menu-header {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  margin: 0;
  color: var(--dark);
  font-weight: 400;
  font-size: var(--fsh1);
  font-family: Neucha, sans-serif;
}

h2 {
  margin: 0;
  color: var(--main);
  font-weight: 400;
  font-size: var(--fsh2);
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h3 {
  font-size: 34px;
}

p {
  margin: 0 0 14px;
  padding: 0;
}

a {
  text-decoration: none;
}

.orange {
  color: var(--main);
}

.white {
  color: var(--white);
}

.black {
  color: var(--dark);
}

.color-brown {
  color: var(--brown);
}

.transparent-white {
  color: var(--transparent-white);
}

.transparent-dark {
  color: var(--transparent-dark);
}

.bg-color-brown {
  background: var(--brown);
}

.bg-color-white {
  background: var(--white);
}

.bg-color-light {
  background-color: var(--light);
}

.bg-main::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

header,
section {
  position: relative;
}

.header-title {
  position: relative;
  z-index: 1;
}

header img {
  position: absolute;
  top: 55px;
  right: -270px;
}

.columns-2-head {
  columns: 2;
  column-gap: 30px;
}

.columns-2-head p {
  break-inside: avoid;
}

.columns-2 {
  display: flex;
  justify-content: space-between;
}

.mt-185 {
  margin-top: 200px;
}

.columns-2 p {
  width: 540px;
}

.btn {
  display: inline-block;
  margin: 24px 0 0 570px;
  padding: 12px 24px;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  background: var(--main);
}

.btn:hover {
  background: #ea7600;
}

.youtube-block {
  margin-bottom: -100px;
  text-align: center;
}

.youtube-block p {
  margin: 30px 0;
}

.youtube-block .video {
  margin-bottom: -100px;
  border: none;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

#navigation {
  padding-top: 100px;
}

.bg-black {
  background: var(--dark-main);
}

footer a {
  text-decoration: underline;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.menu-items a {
  display: contents;
  color: var(--dark);
}

.nav-item {
  box-sizing: border-box;
  width: calc((100% / 3) - 20px);
  margin-bottom: 20px;
  padding: 24px;
  background: var(--light);
}

.nav-item:hover {
  background-color: var(--main);
}

.nav-item p {
  margin: 0;
}

.nav-item h3 {
  padding: 0 0 16px;
}

.nav-number {
  margin: 0 0 40px;
  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.nav-item:hover .nav-number,
.nav-item:hover h3,
.nav-item:hover p {
  color: var(--white);
}

.menu-intro {
  width: calc((100% / 3) - 20px);
  margin-bottom: 20px;
  font-size: 52px;
  font-family: Neucha, sans-serif;
  line-height: 120%;
}

.main-img-section {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.flex-columns-2 {
  display: flex;
  column-gap: 30px;
}

.cognitive-distortions {
  font-size: 24px;
  font-family: Neucha, sans-serif;
}

.descr-h4 {
  margin: 100px 0 20px;
  padding-left: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

#footer-section {
  color: var(--white);
}

.prew-text {
  margin-top: 30px;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 120%;
}

.prew-text-foot {
  margin: 55px;
}

.email-with-button {
  display: flex;
}

.email-with-button input {
  box-sizing: border-box;
  width: 423px;
  height: 50px;
  padding: 15px;
}

.send {
  width: 70px;
  height: 50px;
  background-color: var(--main);
  border: none;
  cursor: pointer;
}

.send::before {
  content: url("../images/send.svg");
}

.form {
  margin: 38px 0 0 82px;
}

form .email {
  margin: 0 0 9px;
  font-size: 18px;
}

.agreement {
  font-size: 12px;
}

.agreement a {
  color: var(--white);
}

footer .info {
  margin-top: 60px;
  color: #000;
  font-size: 14px;
  text-align: center;
}

.send:hover {
  background: #ea7600;
}
